.homeContainer {
    --background: none;
    background-color: #111111;
    background-image: url(./images/home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}