.loginContainer {
    --background: none;
    background-color: #111111;
    background-image: url(./images/login.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}